@import '../../../assets/styles/variables';
@import '../../../assets/styles/mixins';


.homePage {
    @include flex($direction: column);
}

h1 {
    border-radius: 10px;
    padding: 6px 12px;
    background: $color-primary;
    color: $color-white;
    @include font;
}

.homePage-numberSection {
    @include flex;
    gap: 20px;

    &-article {
        border-radius: 10px;
        border: 2px solid $color-primary;
        @include flex($direction: column);
        padding: 10px 12px;
        gap: 5px;
    }

    &-text {
        margin: 0;
        @include font;
    }

    &-number {
        margin: 0;
        @include font(700)
    }
}