@import "../src/assets/styles/variables";
@import "../src/assets/styles/mixins";

.ngx-charts-tooltip-content.position-top.type-tooltip.animate {
    background: $color-primary;

    span {
        border-top: 7px solid $color-primary;
        @include font;
    }
}

.pie-label.animation {
    @include font;
    font-size: 1.1rem;
}